p {
  text-align: center;
  font-family:  'Raleway', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  color: #fff;
}
h1{
  text-align: center;
  font-family: 'Merriweather', "Times New Roman", serif;
  font-weight: bold;
  color: #fff;
  background-color: #ad5965
}
body {
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: lighter;
  background-color:#005a5b;
}

#container {background-color: #ad5965;
width:80%;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
margin: 0 auto 0 auto;
margin: 0 auto;
}
#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin:0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display:block;
  color: #fff;
  background-color: #ad5965;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Raleway', Helvetica, sans-serif;
}
#nav a:hover, #nav a:active {
  background-color: #dbb049;
}
#footer {
  color: black;
  font-family: 'Raleway', Helvetica, serif;
  font-size: 1em;
  border-top: 1px solid black;
  background-color: #dbc6fb
}
img {
  border: none;

}
