p {color: black;
  font-family:  'Raleway', Helvetica, sans-serif;
}
h1{font-family: 'Merriweather' Georgia, "Times New Roman", serif;
}
body { background-color:#ad5965}
#container {background-color: #005a5b;
width:80%;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
}
#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin:0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display:block;
  color: #fff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}
#nav a:hover, #nav a:active {
  background-color: #7a991a;
}
.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;

}
#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
img {
  border: none;
}
